<div class="container-fluid">
 <div class="row">
	<div class="col-xs-4">		   
		<h3>{{message}}</h3>
		<table border="1">
			<tr> <th>i</th> <th>i*i</th> </tr>
			<tr *ngFor="let i of values" >
				<td>{{i}}</td> <td>{{i*i}}</td>
			</tr>
		</table>
	</div>
	<div class="col-xs-8">
		<h3>{{title}}</h3>
		<div> (x,y)=<b>({{c1.x}} ,{{c1.y}})</b> , r =<b> {{c1.r}} </b> </div>
		<div>
		<label>x: </label> <input [value]="c1.x" placeholder="x"/> read with [value]="c1.x"<br/>
		<label>x: </label> <input [(ngModel)]="c1.x" placeholder="x"/> read/write with [(ngModel)]="c1.x" <br/>
		<label>y: </label> <input (input)="onNewY($event)" placeholder="y"/> write with (input)="onNewY($event)"<br/>
		<label>y: </label> <input (input)="c1.y = $event.target.value;" placeholder="y"/> write with (input)="c1.y = $event.target.value;" <br/>
		<label>r: </label> <input [(ngModel)]="c1.r" placeholder="r"/> read/write with [(ngModel)]="c1.r" <br/>
		</div>
	</div>
 </div>
</div>	
