<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<button pButton  icon="pi pi-check" label="b2" class="ui-button" ></button>
<button pButton type="button" label="Info" class="ui-button-info"></button>
<button pButton type="button" label="Warning" class="ui-button-rounded ui-button-warning"></button>
<button pButton type="button" label="Danger" class="ui-button-danger"></button>
<p-card header="header" styleClass="ui-card-shadow">
  Content
</p-card>
<p-panel header="Title" [toggleable]="true">
  Content
</p-panel>
<router-outlet></router-outlet>
