 <tabs-group [titles]="['binding' , '@Input/@Output' , 'forms' , 'pipes' , 'service']"
  (activeTabEvent)="subpart=$event.value">
  
<basic-simple [style.display]="subpart=='binding'?'block':'none'"></basic-simple>
<basic-in-out-life-cycle [style.display]="subpart=='@Input/@Output'?'block':'none'"></basic-in-out-life-cycle>
<basic-with-form [style.display]="subpart=='forms'?'block':'none'"></basic-with-form>
<basic-with-filter [style.display]="subpart=='pipes'?'block':'none'"></basic-with-filter>
<basic-with-service [style.display]="subpart=='service'?'block':'none'"></basic-with-service>

</tabs-group>
 


