<div class="panel panel-primary"> 
  <div class="panel-heading"> <h2 class="panel-title">{{title}} 
   <button style="color:black;" (click)="compteur=compteur+1">{{compteur}} ++</button> / (main) app component</h2>
  </div>
  
  <div class="panel-body">
    <toggle-panel [title]="'part 1 (basic.module)'" >
	    <basic-my-switch></basic-my-switch>
	</toggle-panel>
  
    <toggle-panel [title]="'part 2 (with-route.module)'" >
	    <with-route-main></with-route-main>
	</toggle-panel>
   </div>
</div>
	 