<div class="row">

  <div class="col-sm-6" >

  category: <select [(ngModel)]="category" 
       (change)="onRechercherSpectacles()">
       <option *ngFor="let c of categories" [ngValue]="c">{{c.title}}</option>  
  </select> <br/>
   <hr/>
  spectacles de la catégorie :
  <table border="1">
     <tr><th>id</th><th>title</th><th>price</th><th>duration</th></tr>
     <tr *ngFor="let s of spectacles" (click)="onRechercherSessions(s)"
          [class.selected]="spectacle==s">
        <td>{{s.id}}</td><td>{{s.title}}</td><td>{{s.price}}</td><td>{{s.duration}}</td>
     </tr>
  </table>

  </div> <!-- end of first colomn -->
  <div class="col-sm-6" >
     <u>spectacle selectionné</u>: <br/>
     {{spectacle | json}}
     <hr/>
     sessions du spectacle : <br/>
     <table border="1">
        <tr><th>id</th><th>date</th><th>startTime</th><th>nbPlaces</th><th>action</th></tr>
        <tr *ngFor="let se of sessions">
           <td>{{se.id}}</td><td>{{se.date}}</td><td>{{se.startTime}}</td><td>{{se.nbRemainingPlaces}}</td>
           <td><input type="button" value="reserver" (click)="onReserver(se)" /></td>
        </tr>
     </table>
  </div> <!-- end of second colomn -->  
</div>
