<div>

  category: <select [(ngModel)]="category" >
       <option *ngFor="let c of categories" [ngValue]="c">{{c.title}}</option>  
  </select> <br/>
  <input type="button" value="rechercher spectacles" 
         (click)="onRechercherSpectacles()"/><br/>
  <hr/>
  <table border="1">
     <tr><th>id</th><th>title</th><th>price</th><th>duration</th><th>description</th></tr>
     <tr *ngFor="let s of spectacles">
        <td>{{s.id}}</td><td>{{s.title}}</td><td>{{s.price}}</td><td>{{s.duration}}</td><td>{{s.description}}</td>
     </tr>
  </table>
</div>
